

.div1{
    background-color: #eee;
    text-align: center;
    padding: 50px ;
}
.btn{
    text-transform: uppercase;
    background-color: #22262A;
    padding: 15px 70px;
    border: none;
    border-radius: 10px ;
    color: #E40449 ;
    box-shadow: 4px 4px 6px 3px rgba(24, 21, 21, 0.596);
    transition: all .4s ;
    cursor: pointer;
}
.btn:hover{
     -webkit-transform: translateY(-6px);
	transform: translateY(-6px);
    background-color: black;
    color: white;
}